@import "tailwindcss";

body {
  margin: 0;
  background-color: #050505;
  font-family: 'Inter', sans-serif;
  color: white;
}

/* Scrollbar Gradient */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #050505; }
::-webkit-scrollbar-thumb { 
  background: linear-gradient(to bottom, #8b5cf6, #d946ef); 
  border-radius: 10px; 
}

/* Smooth Scrolling for IDs */
html {
  scroll-behavior: smooth;
}